[2015-08-02 00:41] mikeferguson opened #6 "Release for Jade"
We do not plan to support robots on Jade, however users may desire simulated robots on Jade (especially to get Gazebo 5).

Dependent repositories still to be released into Jade:
- [x] robot_controllers [(Pull Request)](https://github.com/ros/rosdistro/pull/9013)
- [x] robot_calibration (so we can release fetch_ros repo) [(Pull Request)](https://github.com/ros/rosdistro/pull/9053)
- [x] warehouse_r

[2015-08-05 19:23] mikeferguson commented on #6
The bellows are especially strange -- both links are the same STL, both have 0 0 0 1 for their color in URDF, both have Gazebo/Black as material in the xacro file for Gazebo. One shows as black, the other is white....

![color_what](https://cloud.githubusercontent.com/assets/899410/9095556/b8060f9e-3b6c-11e5-93ae-b6b2e0293436.png)

[2015-08-22 05:57] mikeferguson commented on #6
This is now the gazebo5 branch, master has been renamed gazebo2

[2016-08-23 07:53] mikeferguson opened #15 "Release for -Kinetic- (missed) -> Melodic"
Dependent repositories still to be released into Jade:
- [x] grasping_msgs
- [x] sparse_bundle_adjustment
- [x] open_karto
- [x] slam_karto
- [x] robot_controllers
- [x] robot_calibration (upstream blocker: https://github.com/mikeferguson/robot_calibration/issues/29)
- [ ] fetch_ros (fetch_description, fetch_navigation, fetch_moveit_config)
  - depends on https://github.com/fetchrobotics/fetch_ros

[2016-08-23 07:57] mikeferguson commented on #15
@davetcoleman -- i've now driven a fetch around in simulation on 16.04 -- I'll continue with actually moving the arm with moveit in the morning -- the repos listed above are what I've had to check out in source (and I have a pretty severe hack in moveit_python to handle the upstream mess that is pyassimp in 16.04)

[2016-08-23 15:55] mikeferguson commented on #15
My current setup:

[code]

~~Now blocking on broken build of moveit~~ source of geometric shapes fixes this

[2016-08-23 17:35] mikeferguson commented on #15
I have now successfully run the demo under 16.04

[2016-08-23 18:03] mikeferguson commented on #6
releasing karto stuff into jade

[2016-08-23 21:04] mikeferguson commented on #15
If you don't have desktop-full, you can end up with the laser not working, so we are probably missing a depend

[2016-11-10 01:14] ruffsl opened #17 "Simulated IMU"
I was testing out this package with gazebo and noticed that there was no imu messages being publish like for the real platform: http://docs.fetchrobotics.com/robot_hardware.html#imu

It'd be nice in general to add the IMUs in the gazebo models so I could test out projects like [cartographer](https://github.com/googlecartographer/cartographer_ros) that use senors fusion with IMUs in simulation. I s

[2016-12-26 08:49] floodsung opened #18 "Add multi-robot support in Gazebo simulation"
I am trying to add multiple Fetch robots in the gazebo environment, but it seems too difficult to make it work. Could you provide this feature? Thank you!

[2016-12-27 20:35] mikeferguson commented on #18
Unfortunately, this isn't something that is natively supported by Gazebo/ROS. I have seen some experimental stuff along these lines, but getting such a system to work reliably is likely a large development effort, which is currently not on our roadmap at Fetch Robotics. We do welcome contributions from the community, so I will leave this ticket open as a possible enhancement.

[2016-12-27 20:49] mikeferguson commented on #6
Jade is reaching end-of-life, I have rebased the gazebo5 branch from the gazebo2 branch with the single patch, and am going to release fetch_gazebo 0.8 into jade with the remaining "color" issue.

[2016-12-27 20:49] #6 closed

[2016-12-27 21:00] mikeferguson commented on #15
gazebo7 branch has been rebased on top of gazebo2/5 branches, so it can be released as 0.9.x

[2017-02-01 05:08] ruffsl commented on #17
Related issue pending on this enhancement:
https://github.com/googlecartographer/cartographer_fetch/issues/2#event-941048389

[2017-07-15 17:44] zenetio commented on #15
I used the script suggested by @mikeferguson and after finish install, using roslaunch stockroom_bot stockroomlaunch, I got no launch error and could get the complete scenario with world, bins and the simple arm robot. Then after couple minutes, I got a "not enough memory" message and got an error in terminal window. So, I closed the session and started a new one. Then I started to get an error re

[2017-08-10 21:24] rongoldman-tri opened #19 "help using cartesian_twist_controller"
Hi. Is there any documentation for enabling & using the cartesian_twist_controller in gazebo to control the Fetch's manipulator?

I tried to add it to the fetch_gazebo/config/default_controllers.yaml file:

cartesian_twist_controller:
  type: "robot_controllers/CartesianTwistController"
  joints:
    - shoulder_pan_joint
    - shoulder_lift_joint
    - upperarm_roll_joint
    - elbow_flex_joint

[2017-08-14 21:52] mikeferguson commented on #19
(Also answering on mailing list)

We've recently added support on the robot for the twist controller (primarily for joystick control of the end effector). The public ROS farm just sync'd over the weekend, and we should have an update to our packages later this week once everything has passed qualification. The commit that added the twist controller to the physical robot is:

   https://github.com/

[2018-02-13 03:33] mikeferguson commented on #15
FYI, robot_calibration is now in Kinetic. Also, unassigning myself from this (EDIT: I actually can't do that, don't have the requisite permissions...)

[2018-05-02 16:48] DanielTakeshi opened #20 "Mobile Manipulation Demo Experiences Several Trajectory Failures"
I am trying to follow the tutorials on running the mobile robot demo.

http://docs.fetchrobotics.com/gazebo.html#running-the-mobile-manipulation-demo

However, the code doesn't seem to run the demo successfully where it is stated that:

First, a few preliminaries: I'm using Ubuntu 14.04 and Ros Indigo, and have installed the simulator:

[code]
Running the playground seems to work:

[code]

And I g

[2018-05-04 17:45] mikeferguson commented on #20
Based on where the head is pointing in the second to last image, it would appear the fetch is not localized when it gets to the table. I did successfully run this code recently when I was validating/making the latest navigation release, so I don't think there is anything "broken" within the code.

If things aren't running fast enough, I could definitely see that being a problem -- there are a ton

[2018-05-08 05:11] DanielTakeshi commented on #20
Thanks @mikeferguson  I think this makes sense

[2018-05-29 17:31] mikeferguson opened #21 "gazebo9 branch"
Melodic uses gazebo9 -- in the process of updating Navigation stack for Melodic, I had several patches for Gazebo API breaks.

If someone would kindly open a gazebo9 branch, I'll open a PR with the changes.

[2018-06-05 15:40] mikeferguson commented on #21
For reference, stuff is here https://github.com/mikeferguson/fetch_gazebo/tree/gazebo9

[2018-06-11 23:28] DanielTakeshi opened #22 "Using gazebo7 with the Fetch's gazebo?"
Hi @mikeferguson  et al,

Do you know if there is a way to install Fetch's gazebo stuff with gazebo 7? I have the usual Fetch setup with ROS Indigo and Ubuntu 14.04, but I was asking because I'm trying to use some code that's shared among different robots, and for the test worlds that we're using, we need gazebo 7 (since the "SDF" files have to be version 1.6, not 1.4 that I'm getting with gazebo2

[2018-06-12 00:50] mikeferguson commented on #22
The gazebo2 branch is the "right" branch for Indigo out of the box (and debian installed).

You might be able to install a different gazebo and use the alternate branch for it -- but it's really not tested for such things. I know for a while I had gazebo5 (which shipped with Jade) on 14.04 with mostly Indigo sources and the gazebo5 branch of this repo.

The folks from Fetch might have other input

[2018-06-14 18:57] lucbettaieb commented on #21
@rctoris would you make a gazebo9 branch?  I don't have access.

[2018-06-14 19:03] rctoris commented on #21
All set.

[2018-06-14 19:03] #21 closed

[2018-06-15 22:07] DanielTakeshi commented on #22
Thanks @mikeferguson

[2018-06-15 22:07] #22 closed

[2018-06-15 22:07] #20 closed

[2018-10-04 18:16] YantianZha commented on #21
Hello all,

Has any of you tried to use the Gazebo 9 with Kinetic? I got the following error:

Errors     << fetch_gazebo:make /home/yz/research/fetch_ws/logs/fetch_gazebo/build.make.009.log
/home/yz/research/fetch_ws/src/fetch_gazebo/fetch_gazebo/src/plugin.cpp: In member function ‘virtual void gazebo::FetchGazeboPlugin::Init()’:
/home/yz/research/fetch_ws/src/fetch_gazebo/fetch_gazebo/src/plugin

[2018-10-04 18:18] mikeferguson commented on #21
I think you'll have to make a custom branch if you want to run non-standard Gazebo on Kinetic -- URDF is different between Kinetic/Melodic (switched to std::shared_ptr in Melodic).

[2018-10-04 18:34] YantianZha commented on #21
Okay, thanks! I will see if there is a way to fix it.

BTW: If I keep using Gazebo 7, I would also need to fix a bug of Gazebo about collision checking, to make actors work.

[2018-10-12 05:08] derkbreeze commented on #15
Hello,

I'm using Kinetic in Ubuntu 16.04. I followed the aforementioend installation steps. That said, when I tried to catkin build the workspace, I got the follow tf error and I didn't find a solution. Please let me know if you have any suggestion. Thanks.

Errors     << fetch_depth_layer:make /home/lishuai/logs/fetch_depth_layer/build.make.001.log
/home/lishuai/src/fetch_ros/fetch_depth_layer/s

[2018-11-14 08:55] pholthau opened #27 "controllers are not started in fetch_gazebo"
Hi,

When launching `roslaunch fetch_gazebo playground.launch` a number of services are not
started and therefore the preparation script hangs as well. The result is a non-functioning simulated robot (base and arm).

![image](https://user-images.githubusercontent.com/1247192/48470750-25f55a00-e7ea-11e8-929a-83b82de2da3f.png)

I think this might be a hiccup because I run fetch_gazebo on kinetic. Bu

[2019-01-25 03:46] varunagrawal commented on #15
@mikeferguson any updates on this? fetchrobotics/fetch_ros#52 is already merged and it would be nice to have the gazebo simulation working with Kinetic.

FYI, I tried following the procedure outline by you on this issue to get things working and when I run `rosdep install --from-paths src --ignore-src --rosdistro kinetic -y` I get the error
`fetch_gazebo: No definition of [libgazebo9-dev] for OS v

[2019-01-25 07:14] moriarty commented on #15
Because libgazebo9-dev is for 18.04 and Melodic. If you want to try on Kinect you’ll need to checkout the gazebo7 branch.

We’re currently preparing to release Melodic ASAP with the simulation environment for “FetchIt!” https://discourse.ros.org/t/announcement-win-a-robot-fetchit-the-fetch-mobile-manipulation-challenge-icra-2019-competition/7569

Currently if you’re on 18.04 and Melodic, from GitH

[2019-01-25 18:07] varunagrawal commented on #15
gazebo7 won't work because gazebo doesn't provide the ROS wrapper packages for Kinetic. gazebo8 won't work because to get `moveit` to compile, we need the melodic branch as detailed on ros-planning/moveit_tutorials#262.

At this point, your only two releases are either out of LTS or not yet ready to be released. :confused:

[2019-01-26 08:14] moriarty commented on #15
Are you only trying to build the simulation? Or also run on a real robot?

14.04 & Indigo is still LTS. Until April 2019.

We aren’t targeting Kinetic.

Melodic will be released soon, but will work from source already.

For the physical robots, you’ll need to wait a little longer for the drivers/firmware and instructions.

That MoveIt! Tutorial you’ve linked to, seems to mention that building it f

[2019-01-27 02:19] moriarty commented on #36
Thanks, we'll take a look.

FYI:
@velveteenrobot, @cjds @erelson & @narora1

[2019-01-27 02:23] moriarty commented on #15
Please check out:
https://github.com/fetchrobotics/fetch_ros/issues/63

[2019-01-27 02:57] moriarty commented on #15
@varunagrawal I'm going to close this issue and open new one for Melodic to avoid confusion.

[code]

[code]

[code]

There are a few warnings which we'll clean up but this should work on gazebo.
But we will fix https://github.com/fetchrobotics/fetch_ros/issues/102 asap.

We plan to release to Melodic next week, it will take a little until the next melodic sync and the debians are available.

[2019-01-27 02:57] #15 closed

[2019-01-27 03:03] moriarty commented on #27
This is because of the order of execution of launch files isn't guaranteed in ROS1 :disappointed: but there are ways around this, sorry about that.

We'll figure something out.

[2019-01-27 03:19] moriarty commented on #18
Just as an update, we know this is desired, but it's still not on our roadmap (specifically multiple Fetch Mobile Manipulators in Gazebo). In the meantime, I'll close this issue.

We know better multi-robot simulation is desired. We've needed to build up several private systems to simulate multiple freight robots (no arms) but at the moment these are very purpose built simulators for our commercia

[2019-01-27 03:19] #18 closed

[2019-01-27 03:35] moriarty opened #28 "Release for Melodic"
We missed #6 and #15 but we _will_ release for **Melodic**

And @velveteenrobot is working on an environment for our competition at ICRA.
https://discourse.ros.org/t/announcement-win-a-robot-fetchit-the-fetch-mobile-manipulation-challenge-icra-2019-competition/7569

[2019-01-27 18:39] varunagrawal commented on #15
@moriarty thanks for being on top of this! I may have been a bit harsh with my words before but I have high expectations of you guys and really appreciate the great work you are doing.

[2019-01-27 20:48] mikeferguson commented on #15
Just FYI -- I'm not with Fetch since end of 2017, so I'm not the guy to ping on these in the future.

[2019-02-13 18:56] moriarty commented on #36
@nickswalker sorry for the delay everyone I originally tagged has been busy.

I've just spoken with @safrimus and he'll investigate.
I've also created an internal JIRA ticket in hopes of not loosing track of this issue again.
https://fetchrobotics.atlassian.net/browse/OPEN-31

[2019-02-13 19:00] cjds commented on #36
@nickswalker to clarify this only happens with melodic? and Gazebo 9?

[2019-02-13 19:15] nickswalker commented on #36
Yes, I have only observed this happening in Melodic with Gazebo 9.

[2019-02-14 04:04] dbking77 commented on #36
To me, it looks like its related to localization.   Usually when you first
localize robot, its particle cloud is pretty spread out the estimated robot
position jumps around
at bit while the robot figures out where it is.
However, usually the particle cloud converges to the correct position, and
this jumpiness stops happening.   Take a look at the AMCL particle cloud
output in RViz (PoseArray type,

[2019-02-14 07:18] nickswalker commented on #36
Here are some clips with AMCL and the localization transforms visualized:

https://www.youtube.com/watch?v=uNb0pJbObHA

https://www.youtube.com/watch?v=sk4ANbCywUk

I pulled in all the recent Fetch changes and bumped to the latest Melodic sync.

It doesn't seem like the AMCL config, the Fetch Gazebo model, or any other component that might obviously cause localization to drift so quickly was chang

[2019-02-14 09:03] moriarty commented on #36
@nickswalker thanks, @safrimus was also able to reproduce immediately in the simulator following your steps in the original issue.

I haven't seen this on the actual hardware, can you confirm that navigation is working on your fetch running melodic?

[2019-02-14 14:16] umhan35 opened #30 "[demo.py] the robot keeps rotating after moved near table"
Hi, I am using Ubuntu 18.04 and ROS Melodic (to align with the version that the FetchIt robot has).

I followed the gazabo tutorial (https://docs.fetchrobotics.com/gazebo.html) and run the following:

    roslaunch fetch_gazebo playground.launch
    roslaunch fetch_gazebo_demo demo.launch

I expect the robot will move to the table and pick the blue cube, but after the robot moved near table keeps

[2019-02-14 14:50] umhan35 opened #31 "[pick_place_demo.py] cannot grasp the cube"
Related to issue #30, I tried to run the pick_place_demo.py without the navigation part:

    roslaunch fetch_gazebo pickplace_playground.launch
    roslaunch fetch_gazebo_demo pick_place_demo.launch

It seems there are some error detecting the cube.

Grasping:

![grasping](https://user-images.githubusercontent.com/3271612/52794308-8b3b3e80-30aa-11e9-823e-ec763d9e77a1.png)

Picking:

![picking](ht

[2019-02-14 15:46] moriarty commented on #30
Sounds like the same issue reported here https://github.com/fetchrobotics/fetch_ros/issues/102

@narora1 @safrimus

[2019-02-14 15:51] moriarty commented on #31
Thanks, how reproducible is this?

Does it fail every time? Or sometimes pass as mentioned in this issue #20

[2019-02-14 16:30] nickswalker commented on #36
Yes, navigation has been working fine on the real robot

[2019-02-15 11:54] umhan35 commented on #31
I tried like 5 times, it was never successful.  One thing is that I am using integrated GPU (Intel® HD Graphics 620).

Here is my environment setup:

# Environment Setup

Make sure Ubuntu 18.04 and ROS Melodic are installed. We are using this version because it is also installed on the robot and it works.

(Currently only ROS Indigo is supported as Debian packages, but there are git branches for U

[2019-02-15 12:31] umhan35 commented on #31
I also made changes mentioned in PR #26.

[2019-02-27 18:21] ben-fido opened #33 "Feature: Add option to start low-quality simulation for fetchit_challenge"
Hello, great job with the new simulation. It looks very nice.

**Issue description:**
I start the simulation environment like this:
`roslaunch fetchit_challenge main.launch`
I wonder if all the extra objects make it slower to render or simulate on my computer.

**Feature request:**
Add a parameter to start a low-quality simulation.
This could disable spawning of objects like the carpet, pallet rac

[2019-02-27 19:09] ben-fido opened #34 "Bug: Simulation fetchit_challenge looks different in RDS & Gazebo"
**Cloud simulator:** RDS (ROS Development Studio), Ubuntu 18.04, ROS Melodic
**Local computer:** Ubuntu 18.04, ROS Melodic, Gazebo 9, NVidia GPU

Has anyone compared the FetchIt Challenge simulator running on RDS with installing on local computer?

**Bug description:**
I find there are various differences, like objects that are not spawned or maybe they are just hidden.
 - The two bolts are blue o

[2019-02-27 20:00] ben-fido opened #35 "Bug: Regression in simulated Fetch robot (Melodic, Gazebo 9)"
I think the simulated Fetch robot is not so good in Gazebo version 9, compared to the current performance in Gazebo 2.

**New software:** Ubuntu 18.04, ROS Melodic, Gazebo 9
**Current software:** Ubuntu 14.04, ROS Indigo, Gazebo 2.2.3

**Issue description:**
When moving the Fetch robot base in simulation, the base motion is very jerky. Like the robot is driving on carpet or with variable friction.

[2019-02-27 21:31] nickswalker opened #36 "Fetch navigation performs poorly in Melodic simulation"
**Steps**
With up to date versions of fetch_ros and fetch_gazebo

    roslaunch fetch_gazebo playground.launch

And

    roslaunch fetch_gazeo_demo fetch_nav.launch

**Behavior**
When given a nav goal, the robot's localization drifts quickly (seems like it happens during rotation). The robot is never able to reach the goal.

https://youtu.be/w1y0b5aI3o8

Nothing jumps out from the standard `move_b

[2019-02-27 21:32] moriarty commented on #36
This issue was previously: https://github.com/fetchrobotics/fetch_ros/issues/102

[2019-02-27 21:34] moriarty commented on #34
The local version is probably slightly more up to date, because the screws in the bin, shouldn't be the same colour as the bin.

Although the local version lighting looks too bright.

@RDaneelOlivav: I've just invited you to be read-access collaborator on this repository so that I can use the 'assign issue' button.

The floating shelves on invisible tables was also something I witnessed when I tes

[2019-02-27 21:55] ejichen commented on #33
seems reasonable. - from @moriarty

[2019-02-28 01:51] moriarty commented on #35
Yes this was reported in https://github.com/fetchrobotics/fetch_ros/issues/102 which I've moved to this repository #36.

We're looking into the issue and have narrowed it down to something between Gazebo7 and Gazebo9

[2019-02-28 02:20] moriarty commented on #33
@ben-fido that above comment was from me, I was just sitting in front of another computer.

We're working with TheConstruct to make the simulation environment ready and they used their existing environment with minimal changes. The environment can be simplified, as we're setting up a small space in our offices which doesn't have the extra elements.

Next week sometime @narora1, @cjds, @ajzeller an

[2019-02-28 10:30] RDaneelOlivav commented on #33
@moriarty, @ben-fido  , we have recently been working on a simpler version of the simulation, with as few elements as possible ( @mmwise suggested it after a test detecting that it was laggy ).
I've also corrected the tables not appearing issue and also one of the gears. It was a materials transparency value that got there accidentally. SO now through the cameras, it should appear every element.
W

[2019-02-28 10:32] RDaneelOlivav commented on #33
Also, yeah, as soon as we define more and more the challenge and how everything will be done, we will be able to simplify more and more.

Another idea could be also to make a low poly, simplified version even further to maximize the tests.
Tell me what you think about that ;).

[2019-02-28 10:46] RDaneelOlivav commented on #34
@moriarty , Just seen this, in my next pull request the floating tables should be resolved ;). How can I see the issues assigned to me ?

[2019-02-28 11:24] RDaneelOlivav commented on #34
@ben-fido Also I've created a version with lower lights to accomodate to different needs. The Gazebo simulator renders slightly different the lights in the client, so you will see it different from the Cloud Version.
But the rendering of the cameras and all the sensors is EXACTLY the same. So please check the cameras also for the one that suits best your needs. I'll post all these changes ASAP.

[2019-02-28 18:49] moriarty commented on #31
We have a new Intern: @ejichen who is working on updating our demos with the Fetch in Simulation and on the Real Robot.

She started this week and will work on a new cube picking demo.

I'll assign this to her to look into.

1. I've noticed in Gazebo9, the lighting is much more accurate than it was in the past. We may need to update our simulation world to increase the lighting to improve the abil

[2019-02-28 18:53] moriarty opened #37 "Gazebo9 Issues :-("
We have a problem with the Gazebo Robot Model. Things work fine on the Robot, but we've had a number of bugs reported with the simulated robot.

Update (March 20)
-------------------------
I've just added a **help wanted** label to this issue, as I've been tuning the model, and have attached the `git diff` to this issue, but we'll accept any PRs if anyone as time to try and further tune the models

[2019-03-12 19:23] adaruna3 commented on #37
Hi all,

Has any progress been made regarding these issues?

It's difficult to tell how well localization, navigation, etc. are working without a physical robot for the upcoming fetchit challenge due to this issue with simulating in Gazebo9. Additionally, switching between simulators makes integration across pipelines (e.g. nav and manipulation) difficult.

Thanks in advance!

[2019-03-12 19:53] RDaneelOlivav commented on #37
Lets address these issues!

We could start addressing these two issues?
Grasping
[#31](https://github.com/fetchrobotics/fetch_gazebo/issues/31)

Movement of Base:
[#35](https://github.com/fetchrobotics/fetch_gazebo/issues/35)

@moriarty how are those issues? Lets Crush them!

[2019-03-12 22:01] moriarty commented on #37
There hasn't been any forward progress on this issue- we're looking into it and have made it worse, or marginally better in some ways but not overall fixed.

@narora1 and I will check different versions of ROS and Gazebo, and see if we can narrow down where things changed.

I just spoke with @ajzeller and @ediehr about how the original models and URDF files were generated.

[2019-03-13 01:04] ejichen commented on #31
Hi @umhan35,
I tried to reproduce the issue and the situation showed in the [video](https://youtu.be/q56RsyfWfPw) might be similar to your problem.

On the first try, the Gazebo window shows that the robot flickered a little bit after it moved the arm (0:05 in the video). The movement shifted the robot, resulting in the mismatch of the robot frame and the planning scene frame (shows in the rviz wi

[2019-03-14 16:40] moriarty commented on #34
@ben-fido yes, we're working with @RDaneelOlivav to iterate over the environment and sync everything... We're also building up the physical arena on site which now that it's almost build @velveteenrobot will share all the new measurements and we'll need another iteration of the environment.

Yesterday we did some testing with the real robot, and the real parts, and real Schunk machine and @ajzelle

[2019-03-14 17:04] moriarty commented on #37
An update on this.

We're checking where things stopped working.
Our current branches _almost_ work with Gazebo 7 and ROS Kinetic.
https://gist.github.com/moriarty/6667d6f139b0fd80dba1f497e9d69373

I don't think this is a ROS Melodic issue, because everything is working with Melodic on the robot.

The two issues:
**Grasping** #31
**Moving** #35

Seem to be related.

A real robot, has suspension sy

[2019-03-14 19:16] moriarty commented on #37
Sinking the wheels into the robot, did help make it bounce or seesaw less, but not completely. And there is still something unstable in the controller. I won't check in this change because I'm still not happy with the behaviour, especially going through the doors. the value 0.059 was just picked by launching gazebo with different values.

[code]

[2019-03-15 18:10] ejichen commented on #34
Also, there is an invisible gear on the desk.
![Screenshot from 2019-03-15 11-08-51](https://user-images.githubusercontent.com/31775247/54452676-f6604b00-4712-11e9-854b-1fc0a2a57edb.png)

[2019-03-15 18:20] ejichen commented on #34
Nevermind. The latest version in git fixed the issue.
![Screenshot from 2019-03-15 11-19-54](https://user-images.githubusercontent.com/31775247/54453336-56a3bc80-4714-11e9-8328-0d621c6a50a8.png)

[2019-03-15 18:39] moriarty commented on #34
@velveteenrobot has measured our arena environment in house and after the next update I should re-bloom this package.

[2019-03-16 11:12] adaruna3 commented on #37
Thanks for all updates Alex! We're closely following.

[2019-03-17 00:02] narora1 opened #40 "Construct sim with fetch throws an exception"
I tried getting fetch working on 18.04, melodic and with gazebo 9 but got this exception.

![exception](https://user-images.githubusercontent.com/10620768/54483224-1aa05280-480d-11e9-8ec6-da8052e968c3.png)

Also is there a way I can make edits to the fetch robot model ?

[2019-03-17 04:04] moriarty opened #42 "catkin_make_isolated --install fails"
http://build.ros.org/view/Idev/job/Idev__fetch_gazebo__ubuntu_trusty_amd64/9/

The build farm has gotten a lot smarter since this package was last released, our header files are not being installed.

I'll submit a PR to **gazabo9** , **gazebo2** and **gazebo7** in a minute.

[2019-03-17 04:11] #42 closed

[2019-03-17 05:16] moriarty commented on #42
I've charry-picked this change into #41

[2019-03-18 08:02] moriarty commented on #37
I still haven't gotten a stable model. But I have made progress. The current model shows jitter, and if you view it with "transparent" and "center of mass" on in Gazebo, it can bee seen that the wheels move. There are a large number of issues similar to this on Gazebo, and it seems to be a matter of parameter tuning.

Instead of simply sinking the main drive wheels as above, I've created 4 invisib

[2019-03-18 09:07] RDaneelOlivav commented on #40
I'll check this today for sure, keep you posted.

[2019-03-18 20:23] RDaneelOlivav commented on #40
Ok, I'm sharing with you a ROSJECT that I have launched and works:
LINK--> Just click it and you will have it on your space: http://www.rosject.io/l/8361c2a/

![Screenshot from 2019-03-18 21-03-49](https://user-images.githubusercontent.com/4933774/54560061-c4c0db80-49c1-11e9-9dff-4886e97973e2.png)

You just have to launch the main_simple.launch from the package fetchit_challenge from the simulatio

[2019-03-19 01:52] moriarty opened #46 "Dockerfiles for fetch_gazebo"
This issue is more of a todo, I have a dockerfile which I've been using to test/debug #37 and should clean it up, and put it into this repository somewhere with a ReadMe and some instructions.

It can be passed arguments so that it works for Indigo/Kinetic/Melodic.

But it requires nvidia-docker2

[code]

[2019-03-19 04:58] moriarty commented on #27
@pholthau is this still occuring? I've been launching, and launching, and launching while trying to tune the model for gazebo9, and haven't seen this issue

[2019-03-19 07:50] narora1 commented on #40
<img width="1433" alt="Screen Shot 2019-03-19 at 12 24 55 AM" src="https://user-images.githubusercontent.com/10620768/54588696-e9787b80-49e0-11e9-9ee6-6b440494aa9c.png">
It didn't work it timed out waiting for simulation.

[2019-03-19 11:11] RDaneelOlivav commented on #40
Ok let me have a look at that in depth because as far as I've tested it worked, save included.

[2019-03-19 14:55] RDaneelOlivav commented on #40
Ok we have been debugging and as far as we see to debug the issue we should have access to your system when running. Can you contact me when you make a test so that we can debug this issue? Because we can't reproduce the issue here for some reason.
@narora1
duckfrost@gmail.com is my gmail account. Send me an email or a hangouts message and we will be there. We will solve the issue but having your

[2019-03-19 15:13] RDaneelOlivav commented on #40
What OS and browser are you using? @narora1

[2019-03-20 19:31] moriarty commented on #37
If anyone is able to further tune these gazebo physics values I'm throwing a help wanted label on this as we'll accept PRs, and it might speed up the process.

[2019-03-20 19:58] RDaneelOlivav commented on #37
I can give it a try tomorrow to see if I'm more lucky in the physics parameters. Gazebo is really bad sometimes with physics... Especially when you want precision.

I'll try some configurations that in other simulations worked in the past, but who knows ;).

@moriarty To better know the issue, could you post a video showing the issue? I think it would center more what we want to improve.

[2019-03-20 20:12] moriarty commented on #37
Yes, sorry I did record a video and it's on my desktop at home. I'll post it after work

[2019-03-20 20:20] moriarty commented on #37
If you view "transparent" "links" and "center of mass" and "inertia" you'll see that the center of mass- which are black and white spheres, for the drive wheels will rotate. This could be invalid inertia values, or invalid friction values, or the PID Controller, or a combination of the above, I've been tuning and testing with all combinations of the above.

The caster wheels, in the `git diff` abo

[2019-03-20 20:24] moriarty commented on #31
@umhan35 I've made two URDF changes.

1. Quick Fix: https://github.com/fetchrobotics/fetch_gazebo/issues/37#issuecomment-473019867
2. Better Fix: https://github.com/fetchrobotics/fetch_gazebo/issues/37#issuecomment-473807444

@ejichen has been using **1.** which is a quick fix, but I will make a PR with **2.** which adds the caster wheels to the model

[2019-03-20 20:54] narora1 commented on #40
Initially it was Firefox and Ubuntu 14.04. The one with the timeout was MacOs on Safari

[2019-03-20 21:25] narora1 commented on #40
![stuck_loading](https://user-images.githubusercontent.com/10620768/54720104-d0c0b080-4b1b-11e9-8de1-caf6cc208352.png)

It has been 20minutes and it is stuck loading. This is similar to what happened before until it timed out. This time I was using Firefox and ubuntu 14.04. Is there a preferred browser that I should test this on?

[2019-03-21 01:26] moriarty commented on #37
Here is the behaviour prior to Gazebo9. Specifically running the two launch files from #31 using the Dockerfile I shared in #46
[code]
1. Gazebo2: https://www.youtube.com/watch?v=EIdDnRGhXcI
2. Gazebo7: https://www.youtube.com/watch?v=2flx4zVyoI4
3. Gazebo9: https://youtu.be/izZZFZgtJYo

Surprisingly it worked in Gazebo9 this time- not on the first grasp attempt. Also note, this version did not ha

[2019-03-21 02:28] moriarty commented on #31
Actually, I before committing the changes, I went to record before and after videos.

And surprisingly the fetch was able to grasp the cube, using the ccb5ad3f40cedc2944a9b3d6fab8d75239a9997b and the fetch-ros from debians https://github.com/fetchrobotics/fetch_ros/releases/tag/0.8.0.

https://youtu.be/izZZFZgtJYo

I didn't use **fetch_ros** from source- the versions from source upgraded the fetch

[2019-03-21 12:38] RDaneelOlivav commented on #37
Ok, I'll create a ROSject with a testing environment to test only the locomotion and the grasping in Gazebo9 Melodic, to see if we can improve that grasping so that the cube doesn't fall and also we can dig in into the base caster wheels problem.

Hope to have it today last hour.

[2019-03-21 13:13] umhan35 commented on #31
I'd say the behavior is not consistent. I am not sure if it is a Gazebo issue.

[2019-03-21 14:59] moriarty commented on #31
The behaviour isn’t expected to be consistent, it’s running MoveIt! with random sampling based motion planners.

But, if we make the URDF changes to stablize the base (the real Robot is very stable and doesn‘t wiggle or tilt when moving the arm) then it should behave closer to the real thing. In #37, I’ve posted videos of Indigo & Kinetic and the inertia/CoM values visually look different- despite

[2019-03-21 19:36] moriarty opened #47 "[FetchIt!] Additional Kits in the Gazebo World"
@umhan35 asked via email.

I just checked the arena, and 3 fit nicely on a table to start.

After 2 have been processed (either finished and delivered or dropped), the kit table will be replenished. But in the Gazebo Model, I think 3 will be fine, as two complete deliveries are required for winning a Fetch.

[2019-03-21 19:37] moriarty commented on #47
![DC149DFD-3064-4B5E-9C78-B9021D4FFD8F](https://user-images.githubusercontent.com/55676/54780064-19d53b00-4bd6-11e9-9877-42a38049c278.jpeg)

[2019-03-22 09:12] zhaolongkzz opened #48 "Problem: gazebo7 with joint_handle.h and plugin.cpp"
Hello. Thanks for your code of FETCH.
And I run it in my computer with ubuntu16.04 and ROS kinetic, gazebo7.14.
Then I encounter some problem below, I think it belongs to the version of gazebo.

[code]

[2019-03-22 13:47] #48 closed

[2019-03-22 15:51] RDaneelOlivav commented on #37
Ok I tested it yesterday and yeah, it needs some adjustments in the physics. The pick and place works quite bad and as you said depends a lot on luck sometimes in Melodic Gazebo 9.
So I'm sharing here a Testing ROSject with a testing environment that is only the Table, the cube and Fetch: [TEST-ROSJECT](http://www.rosject.io/l/899ad0f/)

**fetchit_challenge testing_env.launch**

 This way we can c

[2019-03-22 17:08] moriarty commented on #48
you've closed this issue? were you on the wrong branch?

[2019-03-22 17:19] RDaneelOlivav commented on #40
Hi!
We fixed some issues that we detected due to this, could you retry again, please.
You shouldn't have this error anymore.

Please repost if you have any issue and if not post an image of the ROJect running to see that everything is running ;).

[2019-03-22 17:54] moriarty commented on #22
Thanks @mikeferguson.

@DanielTakeshi if you're still looking to use the Fetch with Gazebo7, the gazebo7 branch should be working, and recently updated, and I've done some testing on it.

It hasn't been released to Kinetic as a Debian package, because we're focusing on Indigo and Melodic for the real hardware, and didn't want the confusion of supporting the I, K, M in simulation but only I and M o

[2019-03-22 17:55] moriarty commented on #48
I assume this didn't build because of the default branch in GitHub being for Gazebo9. I've updated the README.

[2019-03-22 17:57] moriarty commented on #37
Okay thanks @RDaneelOlivav I'll make the changes with the caster wheels, and I'll check the branch creation github settings and figure something out

[2019-03-22 18:38] moriarty commented on #35
@ben-fido can you check with the change from #49

[2019-03-22 18:50] RDaneelOlivav commented on #35
How can I review or test these changes? Its a branch or something in your own space?
@moriarty

[2019-03-22 18:51] moriarty commented on #35
I'm uploading a video to YouTube

[2019-03-22 18:52] moriarty commented on #35
the branch for PR #49 is https://github.com/moriarty/fetch_gazebo branch: add-casters-for-gazebo9

[2019-03-22 18:54] moriarty commented on #35
https://youtu.be/5u44H43ArdQ

[2019-03-22 18:56] RDaneelOlivav commented on #35
Ah ok its a fork on your space in a branch? So to test it we have to download your version and checkout the add-casters-for-gazebo9? Is that right ? Am I missing something?
@moriarty

Great the video by the way. So that's the corrected moving base or is there any error? You fetchers are the best to indicate that ;).

[2019-03-22 20:27] RDaneelOlivav commented on #35
Ok, I've created a ROSject with your  https://github.com/moriarty/fetch_gazebo branch: add-casters-for-gazebo9.

Here is the LINK: [ROSJECT]( http://www.rosject.io/l/8a4a2dc/)

I've posted two videos to show the state in which I execute it:

[MOVE BASE DEMO](https://youtu.be/g75Ra-v0msQ)

[PICK and Place Demo](https://youtu.be/CBWqKMQhjyI)

Id this more or less the behavior that you are getting?
W

[2019-03-22 21:27] moriarty commented on #35
:+1: yeh the Move Base Demo looks good to me.

In this simple case of the base is going to a pose, in an empty world so the laser scanners aren't much help. So I think with #49 being merged we can close this issue.

In #30, the robot keeps rotating after arriving at the table, that is not fixed by PR #49 and will require more fine tuning.

:+1: the Pick & Place Demo, does fail as shown in your vid

[2019-03-23 01:26] zhaolongkzz commented on #48
Thanks, @moriarty I found I have git the wrong branch. And gazebo7 works well.

[2019-03-23 01:42] DanielTakeshi commented on #22
@moriarty OK, thanks for the update.

[2019-03-25 00:00] moriarty opened #50 "Update 3D Parts"
The 3D parts were originally sized before we were able to turn on the Schunk Machine.

It turned out, that the chuck was not able to close as much as we expected. We've made the shaft of the large gear larger to fit into the machine.

https://github.com/fetchrobotics/fetchit/pull/2

@velveteenrobot

[2019-03-25 09:26] RDaneelOlivav commented on #50
Ah ok, understood, I'll work then on the #51

[2019-03-25 09:42] RDaneelOlivav commented on #35
Ok today I'll work mainly on the Pick and PLace issue to see if we get somewhere better

[2019-03-25 17:17] #31 closed

[2019-03-25 17:17] #35 closed

[2019-03-25 20:39] RDaneelOlivav commented on #35
I made some adjustments and tests and it seems that at least the pick and place is improved?
Here is the ROSject: [ROSJECT](http://www.rosject.io/l/8ad1ddf/)
What do you think?
[PICk and Place with improved frictions](https://youtu.be/bYIc5a9i2aA)

I made some tests with the original wheel frictions and with higher and detected that the movement of the arm affected a lot the position. This would a

[2019-03-25 22:34] moriarty commented on #35
Yes, we usually use: Fork & Branch method/style for Git.

So if you create a fork, and make a new branch with the changes, and submit a PR, others can checkout your Branch without knowing or setting up your Fork, because they can checkout the PR once it is opened.

[2019-03-27 17:36] #50 closed

[2019-03-27 18:42] moriarty opened #56 "gearbox_top and gearbox_largegear fall through the world"
Related to #50 and #38

@RDaneelOlivav the simulation environment is looking good but there is still some fine tuning which needs to be done.

the large gear and gearbox top, fall through the world

[2019-03-27 18:44] moriarty opened #57 "fetchit_challenge files are not installed"
I've just tested with `catkin_make_isolated --install` and found the **fetchit_challenge** package wasn't setup to install any of the files, and the package.xml is missing a dependency.

I was testing #51 before running bloom.

I've opened #56 to deal with some other issues.

[2019-03-27 19:10] RDaneelOlivav commented on #35
Ok done the Fork and Branch pull request ;)
https://github.com/fetchrobotics/fetch_gazebo/pull/59

[2019-03-27 19:15] RDaneelOlivav commented on #56
Ok I'll see into it right now ;)

[2019-03-27 19:28] RDaneelOlivav commented on #56
Ok I've seen where is the issue. I didn't test the STL files, and they have a super big scale and are decentered. Solving it now ;). Just rescaling in the sdf gave me the hint, see the white box that doesnt correspond even if its rescaled?:

![Screenshot from 2019-03-27 20-26-54](https://user-images.githubusercontent.com/4933774/55106226-b1eb8c80-50ce-11e9-87e0-674cd76bae7b.png)

I'll Fork & Branc

[2019-03-27 20:01] RDaneelOlivav commented on #56
@velveteenrobot Don't worry, if you make changes we do another branch and changes, but this change has to be made because otherwise the simulation is broken ;). Just Tag me in that new change and I'll go into it ;).

[ROSJECT with the Models Fix](http://www.rosject.io/l/8c7ee6a/)

@moriarty
https://github.com/fetchrobotics/fetch_gazebo/pull/60

[2019-03-27 20:11] RDaneelOlivav commented on #56
@velveteenrobot By the way, maybe, to allow you to make faster changes and not have to wait that I correct scales and centers, I can post a small video tutorial on how to make those corrections yourself in Blender ;).

[2019-03-27 20:21] #56 closed

[2019-03-27 20:22] #57 closed

[2019-03-27 23:08] moriarty opened #61 "[FetchIt!] Update SCHUNK Machine"
@dekent has emailed asking about the SCHUNK Machine.

It was originally added to Gazebo after we only saw the CAD files, and didn't know how it actually looked but we knew it had a Logo on it.

Here is a photo of the actual machine, next to a shelf.
The Shelves will have other logos on them, from SICK, EandM, Fetch and The Construct Sim.

![img_7710](https://user-images.githubusercontent.com/55676

[2019-03-27 23:56] moriarty opened #62 "Indigo & Kinetic fetch-gazebo backports."
This is just a TODO:

Although we don't support Kinetic on the Hardware, because we have not tested the drivers on the hardware, I've decided to release this to kinetic and backport all the changes for the FetchIt! Challenge to Indigo & Kinetic to make it more accessible.

https://github.com/ros/rosdistro/pull/20726
https://github.com/ros/rosdistro/pull/20725

[2019-03-28 18:33] moriarty commented on #62
PRs

Indigo: #64
Kinetic: #65

[2019-03-28 18:57] moriarty commented on #62
Indigo: https://github.com/ros/rosdistro/pull/20743

[2019-03-28 19:01] narora1 commented on #40
![works](https://user-images.githubusercontent.com/10620768/55185277-354dc200-5151-11e9-9fa1-8aac24db5920.png)

works now!!

[2019-03-28 19:01] #40 closed

[2019-03-28 20:34] moriarty commented on #62
Kinetic: https://github.com/ros/rosdistro/pull/20744

[2019-03-28 20:34] #62 closed

[2019-03-28 23:08] RDaneelOlivav commented on #40
Great to hear it! Remember to pull the fetch_gazebo git once in a while if you want to stay up to date with the improvements and the latest version of the simulation ;)

[2019-03-31 04:34] Zephyr06 opened #66 "One error"
[code]

I can't understand this error at all, so any suggestions? Thanks a lot!

[2019-03-31 04:34] zephyr06 commented on #66
After git clone, and use catkin_make_isolated, it reports it.

[2019-03-31 05:32] moriarty commented on #66
It's happening when it tries to include the `robot_controllers_interface/controller_manager.h`

And it's not happening on the build farm: http://build.ros.org/job/Mbin_uB64__fetch_simulation__ubuntu_bionic_amd64__binary/

Are the rest of your system packages up to date?

[2019-03-31 05:41] moriarty commented on #36
@nickswalker can you test this again? And should we close this ticket as a duplicate of 30 ?

I tagged and released 0.9.0 of this package for Melodic, it was "good enough" but still not perfect, but we needed at least one released version into Melodic in order to setup the ros-pull-request-build jobs on the build farm.

[2019-04-04 15:31] RDaneelOlivav opened #69 "When catkin_make fetch_gazebo non-homogeneous workspace error appears"
When compiling the entire fetch_gazebo git it gives the following error:

`-- ~~  - fetch_simulation (metapackage)
WARNING: The CMakeLists.txt of the metapackage 'fetch_simulation' contains non standard content. Use the content of the following file instead: /home/user/simulation_ws/build/catkin_generated/metapackages/fetch_simulation/CMakeLists.txt
-- ~~  - fetchit_challenge
-- ~~  - fetch_gazebo

[2019-04-04 15:59] RDaneelOlivav commented on #69
Edit: If you change the Cmakelists.txt to the previous cmake version, compiles, no problem:

cmake_minimum_required(VERSION 3.7.2) --> cmake_minimum_required(VERSION 2.8.3)

Any idea why this could happen?

[2019-04-04 16:22] moriarty commented on #69
Interesting, I’ll look into it.

[2019-04-04 18:13] moriarty commented on #69
Confirmed, I can reproduce this.

This doesn't occur with `catkin build` nor `catkin_make_isolated` - which are the only catkin build commands I use :disappointed:

[code]

[code]

[2019-04-04 18:43] moriarty commented on #69
My bad... I'll revert the **cmake_minimum_required** I only changed it because bumping it removed a warning from one package, and then I decided to make them all the same.

[code]

The problem is that **catkin_make** does a direct string compare for the meta-package and only supports **2.8.3** I only changed all the packages for the sake of making them the same.

[code]

[2019-04-04 19:04] moriarty commented on #66
I'm going to close this for now. Let me know if it is still an issue.

[2019-04-04 19:04] #66 closed

[2019-04-04 19:06] #69 closed

[2019-04-05 05:58] moriarty opened #73 "[FetchIt!] update tables and walls"
I'm creating this ticket out of an email from @umhan35

**Is your feature request related to a problem? Please describe.**
- [ ] The tables locations can be updated
- [x] The logos on the tables can be updated
- [x] More details are now known about the arena walls, they will be 40 inch high and white.

**Describe the solution you'd like**

1. I will get more up to date information about where the

[2019-04-05 08:33] RDaneelOlivav commented on #61
What is the task here exactly? Add the action server that @velveteenrobot did for the real shunk? https://github.com/fetchrobotics/fetch_gazebo/pull/72.
I posted there that we would need what each action does in the real shunk to simulated in the simulated SHUNK machine so that it work in the exact same way ( or as close as it has to be )

Add the panels exactly in the same format as they are here

[2019-04-05 08:35] RDaneelOlivav commented on #47
So I suppose two more trays have to be created and placed in the simulation, a grey one and a yellow one. Is that it?

[2019-04-05 09:05] RDaneelOlivav commented on #73
OK I have several questions:
1) The tables and their placement: The Table arrangement, location and dimensions are the same as the one we have already in the simulation? The closer they are to the real world the better. The table covers with the logos, I can start working on them. For the Fetch logo could you send which design you want? The tables flat surface will be the WooodDM material that we

[2019-04-05 15:36] moriarty commented on #61
Good point, I was just thinking cosmetically making the machine look closer to the real thing... The machine in sim has the logo on the machine, but the machine is actually metal, with the logo under the machine.

For making the machine work in sim, that can be another issue where #72 from @velveteenrobot is hooked up to a simple controller.

[2019-04-05 15:43] moriarty commented on #73
I’ll answer in more details when I get to the office:

The tables will be the height we originally sent you, the black bars extend in the photo but I will get white tops for them and the original dimension included the tops.

The side panels with the logos I don’t know the thinkness of, but it might be safe to add 1cm to the dimensions unless we did that originally @velveteenrobot @narora1 ?

The

[2019-04-05 18:19] moriarty commented on #73
Yes, the original dimensions I sent you was should be just slightly higher than the vertical black posts- I will get tops for the tables this weekend and the tops will be white. When we made the original dimensions we took this into account. The concrete floor where the tables are isn't perfect, so some might be a little tilted but we expect the teams are going to use some sort of **PCL**, **Open3

[2019-04-05 18:28] moriarty commented on #47
I just commented on #73 maybe add all the colours we have.

https://www.amazon.com/Classroom-Supplies-Assorted-Stackable-Plastic/dp/B074Q2Y7WR?ref_=fsclp_pl_dp_12

- Blue
- Green
- Yellow
- Red
- Orange
- Purple

And we ordered two more from a different supplier to check they were similar enough for object recognition (they are):
- Grey
- Green

[2019-04-05 18:30] moriarty commented on #47
In the default simulation, just spawn 3 for now like the photo above.

We assume teams know how to spawn an additional model if they want to test with other colours.

[2019-04-05 18:34] moriarty opened #74 "[FetchIt!] update the colours of the parts"
**Is your feature request related to a problem? Please describe.**
Currently the large and small gear are green and red.

**Describe the solution you'd like**
All parts should be grey or blue, or have the option to test with both grey and blue.
Because that's the colour of the 3D print material we have on hand.

**Describe alternatives you've considered**
We don't mind the option for blue and grey

[2019-04-05 18:41] moriarty commented on #74
![IMG_7921](https://user-images.githubusercontent.com/55676/55649333-97cd4080-5797-11e9-9a18-c22d6205e138.JPG)
![IMG_7922](https://user-images.githubusercontent.com/55676/55649334-97cd4080-5797-11e9-8c87-dfe36b168d55.JPG)

[2019-04-05 20:34] moriarty commented on #37
I'm going to close this issue now.

Further comments can go into remaining open issues or new issues.

[2019-04-05 20:34] #37 closed

[2019-04-05 20:38] moriarty commented on #15
After having some issues with releasing for Melodic, I ended up doing a bunch of extra testing in Kinetic, and then decided that I should just release to Kinetic too.

But, we're only supporting Fetch in Gazebo for Kinetic. The drivers, firmware and actual robot haven't been tested in Kinetic.

[2019-04-05 20:39] moriarty commented on #15
Kinetic: http://repositories.ros.org/status_page/ros_kinetic_default.html?q=fetch_gazebo [![Build Status](http://build.ros.org/job/Kbin_uX64__fetch_gazebo__ubuntu_xenial_amd64__binary/badge/icon)](http://build.ros.org/job/Kbin_uX64__fetch_gazebo__ubuntu_xenial_amd64__binary/)

Melodic: http://repositories.ros.org/status_page/ros_melodic_default.html?q=fetch_gazebo [![Build Status](http://build.ros

[2019-04-05 20:43] moriarty commented on #28
[![Build Status](http://build.ros.org/job/Mbin_uB64__fetch_gazebo__ubuntu_bionic_amd64__binary/badge/icon)](http://build.ros.org/job/Mbin_uB64__fetch_gazebo__ubuntu_bionic_amd64__binary/) Done.

[2019-04-05 20:43] #28 closed

[2019-04-05 20:50] moriarty commented on #17
Sorry @ruffsl this issue has been neglected a long time.

It's still very low priority but I've tagged @erelson and @ajzeller because they should be able to get the IMUs' origin wrt the robot's base link.

[2019-04-05 20:52] moriarty commented on #27
@pholthau I'm going to close this issue because I haven't been seeing it happen.

Feel free to open it up if it is still happening, and provide a little bit more information so that I can dig into why it's happening.

OS, ROS version, Package version, CPU & Hardware etc.

[2019-04-05 20:52] #27 closed

[2019-04-05 20:55] moriarty commented on #36
@nickswalker I'll add More Info Needed, and Help Wanted to this ticket.

More Info Needed: because I'd like to know how it's performing now.
Help wanted: because we'll need help doing any further tuning on this.

[2019-04-05 21:03] moriarty commented on #34
@ben-fido I'll close this out for now, we've split this up into multiple new tickets:

#47 Additional Kits
#61 Update SCHUNK Machine
#73 Update tables and walls
#74 Update colours of parts

In all cases, the simulation as it is, although different in ROSDS & Gazebo, is already near enough to test components of the challenge code and shouldn't be a blocking issue.

As pointed out by @RDaneelOlivav

[2019-04-05 21:03] #34 closed

[2019-04-05 21:05] moriarty commented on #33
:+1: thanks I'm closing this one.

The low poly simplified version would be nice but there is already a lot todo so we can just keep that in mind for the future.

[2019-04-05 21:05] #33 closed

[2019-04-05 21:07] moriarty commented on #30
We've made some improvements but I think this is still a bit of an issue.

I've added Help Wanted and More Info Needed, similar to #36

[2019-04-08 13:14] RDaneelOlivav commented on #74
Ok , understood, I'll start ASAP to implement the changes. If I can I'll create both colors (Blue and Grey ).
Could you send a picture of the blue parts?
You say that in the test they will be all in the same color or in the same test the color might change?

[2019-04-08 13:16] RDaneelOlivav commented on #47
Ok, will start ASAP ;).

[2019-04-08 13:23] RDaneelOlivav commented on #73
Ok Great answer! Then I'll start working on all this from Wednesday onward, due to other tasks I have. I will start with the environment, tables, and color of elements. Then I'll work on the random lights and other improvements.

[2019-04-08 17:11] moriarty commented on #73
![IMG_7948](https://user-images.githubusercontent.com/55676/55742959-f38d0900-59e5-11e9-98f8-dc7aadd1b7b4.JPG)

Sorry I meant to get you the dimensions on Friday, I wrote them down and didn't get a chance to type them up- so I'll just send an image.

The units are centimeters. T1, T2, T3, T4 are the tables which were measured before so I didn't measure them again.

The opening is currently 76cm. T

[2019-04-08 17:23] RDaneelOlivav commented on #73
Ok , in centimeters is perfect ;)

[2019-04-08 19:54] erelson commented on #17
For future reference, internal ticket: HP-2127

If anyone wants to make a PR with dummy values, demonstrating what components of the URDF the they think the IMUs should be linked to, that may make this happen sooner :)

[2019-04-10 18:33] moriarty commented on #73
The signs from SICK & E and M have arrived... I've just put them in place, I'll attach them with Velcro this afternoon.

At the actual event, we will have two arenas. In each arena there will be a table from Fetch, SICK, E and M, TheConstruct ( @RDaneelOlivav SICK & EandM just sent their foam boards with logos to us, you can do the same).... For now, we don't have the signs from Fetch or TheConstr

[2019-04-10 19:12] RDaneelOlivav commented on #73
Great! We will try to send you TheConstruct Image at least. Hope tomorrow have some of the changes for the simulation ;)

[2019-04-11 05:24] moriarty commented on #46
[code]

[2019-04-11 05:25] moriarty commented on #46
For those who are participating in FetchIt! you'll notice an error in the version I sent around via e-mail.

[code]

[2019-04-11 05:38] moriarty opened #75 "[FetchIt!] Dockerfile & Docker Example"
I was asked to share a Dockerfile with the example of catkin overlays. Sorry, I did have a small typo in the version which I sent around via email, the `sed` command had an extra `.`.

Here is how the robots for FetchIt! will be setup with three catkin layers:

1. /opt/ros/melodic <- bottom layer, only root user can install packages here
2. $HOME/ros/stable/install <- middle layer, contains packag

[2019-04-11 20:22] RDaneelOlivav commented on #47
Made a Pull Request to implement this.
https://github.com/fetchrobotics/fetch_gazebo/pull/76

[2019-04-12 02:14] ajaytanwani opened #77 "How to get Fetch and Gazebo9 installed and tested?"
Hi Fetch Support,

We have an Ubuntu 18.04 machine with Ros Melodic and Gazebo9 installed:

[code]

We are trying to get the Fetch robot started in the Gazebo simulator. We have read the other issues here and are aware that there are several problems with the simulator, but we would like to even get the simulator *started* so that we can observe these problems. The question is, how to install?

In

[2019-04-12 02:23] moriarty commented on #77
Hi,

I’ll need to check if it’s available in the standard ROS repos yet or if it’s only in shadow-fixed...

https://github.com/ros/rosdistro/pull/20745 Was merged 13 days ago, and if there hasn’t been a “Melodic sync” ( a process manually triggered by someone at Open Robotics / OSRF ) then it will only be in the shadow-fixed repository

[2019-04-12 02:25] moriarty commented on #77
But, when you’ve installed from source, you’ll need to run a rosdep command to install the dependencies you need.

You can see an example in this dockerfile I shared:

https://github.com/fetchrobotics/fetch_gazebo/issues/75

[2019-04-12 03:05] ajaytanwani commented on #77
rosdep install fixed it.

[2019-04-12 03:45] moriarty commented on #77
I also responded to @DanielTakeshi in https://github.com/ros/rosdistro/issues/20745

[2019-04-12 03:45] #77 closed

[2019-04-12 03:48] DanielTakeshi commented on #77
Thanks for the clarifications @moriarty . It's really nice that you are responsive.

[2019-04-12 06:29] RDaneelOlivav commented on #77
@ajaytanwani You can also use the ROSject with the simulation prepared there: [ROSJECT.Fetchit-Challenge](http://www.rosject.io/l/8361c2a/)
You can pull the gits to get the latest changes.

[2019-04-12 06:31] RDaneelOlivav commented on #73
@moriarty here you have the table image
[Mesa Fetch 92x78,5 cms.pdf](https://github.com/fetchrobotics/fetch_gazebo/files/3071864/Mesa.Fetch.92x78.5.cms.pdf)

[2019-04-12 06:31] RDaneelOlivav commented on #73
I'm working today in the environment disposition, walls and tables

[2019-04-12 11:57] RDaneelOlivav commented on #73
@moriarty Just created a pull request with the latest changes regarding this matter: https://github.com/fetchrobotics/fetch_gazebo/pull/78

[2019-04-12 15:52] RDaneelOlivav commented on #74
@moriarty created https://github.com/fetchrobotics/fetch_gazebo/pull/79 to solve this issue.

[2019-04-16 07:18] moriarty commented on #73
FYI @frank-qcd-qk

[2019-04-23 02:21] umhan35 opened #81 "[FetchIt!] Update the screw bin in simulation"
@moriarty We saw last week the bin containing screws is updated. Could you update the simulation? @RDaneelOlivav Having the CAD file should be good for now, so we can add ourselves.

Sarah gives the Amazon link: https://www.amazon.com/dp/B00K2NZSFM/

![screw station](https://user-images.githubusercontent.com/3271612/56547838-86808400-654c-11e9-9159-df4767ca3296.png)

[2019-04-23 18:29] RDaneelOlivav commented on #81
I wasnt aware of that. You mean that the Bin where the screws are placed has been changed from the small ones to this big bucket like box? @moriarty ?
I'll put in the issues line to change it ;). But I would appreciate more info about this to make it right.

[2019-04-23 18:48] moriarty commented on #81
@RDaneelOlivav yes sorry we didn't update you while you were on holiday, and we were still making up our minds.

@velveteenrobot ordered new bins after the first teams accessed the remote area and requested more clearance for the wrist.

We went online and ordered a few difference options and we have been testing them and have now decided on this version.

This is the bin:

https://www.amazon.com/

[2019-04-23 18:51] RDaneelOlivav commented on #81
Great! ;). So both the screws and the upper and lower assembly parts will be in these containers? Any colour in particular? All of them are green?

[2019-04-23 19:30] umhan35 opened #82 "[FetchIt!] SCHUNK machine model shoudn't have the cylinder inserted"
@moriarty Our team just know that we need to insert the gear inside the whole of the SCHUNK machine. In simulation, there is a half yellow half black cylinder inserted and should be removed.

@RDaneelOlivav  We tried to use Blender to remove the cylindar from `shunk_machine_lathe_centered.dae` but the main.launch file won't launch probably because the pose also needs to be updated?

In sim:
![schu

[2019-04-23 20:50] moriarty commented on #82
@ajzeller Could you open up the model in Solid Works and remove the object from the lathe?

Then we can give a new model to @RDaneelOlivav , unless @RDaneelOlivav is able to do this directly.

[2019-04-23 21:19] ajzeller commented on #82
@moriarty here is the URDF with the object removed:

[schunk_machine_URDF_4-23-19.zip](https://github.com/fetchrobotics/fetch_gazebo/files/3109649/schunk_machine_URDF_4-23-19.zip)

![image](https://user-images.githubusercontent.com/11982359/56616666-c2f6c300-65d2-11e9-823f-408cd3d7e903.png)

[2019-04-23 22:56] moriarty commented on #82
Thanks @ajzeller !

Actually could you add one more thing?

The real machine has boards around it, then we can fix #61 and this issue at the same time.
Don't worry about the logo, just the boards for now as they should be their for the teams to make and test their mapping and localization.

[2019-04-23 23:28] ajzeller commented on #82
@moriarty yep here you go:

[schunk_machine_URDF_4-23-19_v2.zip](https://github.com/fetchrobotics/fetch_gazebo/files/3109949/schunk_machine_URDF_4-23-19_v2.zip)

![image](https://user-images.githubusercontent.com/11982359/56622416-dad74280-65e4-11e9-810a-bb67c8c5b020.png)

[2019-04-24 04:08] ben-fido opened #83 "[FetchIt!] [BUG] Gazebo world missing romanoff utility caddy"
**Description:**
The kits (Romanoff utility caddy) are missing from some of the Gazebo worlds in the `fetchit_challenge` package.  I think the model URL is wrong and it's trying to download from the internet.

**Steps to reproduce:**
Launch any one of these 4 launch files. They all have the same problem:
[code]
In the terminal you see this error message:
[code]

It is not a bug on my computer beca

[2019-04-24 04:29] ben-fido opened #84 "[FetchIt!] Final list of objects and simulation layout"
**Issue description:**
The object types have not been finalized (https://github.com/fetchrobotics/fetch_gazebo/issues/81) and the simulation world is out of date.

**List of objects:**
Can Fetch Robotics provide the final information for these:
**1. Kit**
 - Classroom caddy, set of 6 colors (https://www.amazon.com/gp/product/B074Q2Y7WR)
 - Brand: YuzuKids
 - Dimensions: 9.2 x 5.1 x 9.2 inches   (n

[2019-04-24 07:29] RDaneelOlivav commented on #84
Let me check that as soon as possible.

[2019-04-24 07:30] RDaneelOlivav commented on #83
I'll have a look at this

[2019-04-24 07:46] RDaneelOlivav commented on #82
Ok great! I'll put it in the task list to do ;)
Also I havent integrated yet the SHUNK actions into the machine, but I think thats for another time.

[2019-04-24 09:40] RDaneelOlivav commented on #83
Fixed in: https://github.com/fetchrobotics/fetch_gazebo/pull/85
As soon as it's merged into the main repo gazebo9 branch you should be able to see the cart in all the worlds. I've also updated the assembly elements colors so that they are the grey ones that will be used in the final competition.

[2019-04-24 09:44] RDaneelOlivav commented on #83
Oh I didnt see that you need 3 kits on the table. I'm adding right now three of different colour.
Let me know if its ok

[2019-04-24 09:53] RDaneelOlivav commented on #83
Done. Now 3 carts appear green, yellow and red. You can change them in the world for any of the colors you want to test your algorithms are robust.
![Screenshot from 2019-04-24 11-52-21](https://user-images.githubusercontent.com/4933774/56650569-99e43a00-6687-11e9-9537-2a96154a4f51.png)

[2019-04-24 09:56] RDaneelOlivav commented on #84
In theory, solved the issue of the kits not appearing. Pending of merge : https://github.com/fetchrobotics/fetch_gazebo/pull/85

Next issue to tackle will be the Shunk model update, maybe the action integration.

[2019-04-24 12:48] ben-fido commented on #83
Thanks @RDaneelOlivav

[2019-04-24 21:09] moriarty commented on #82
This photo was requested by @banerjs
![IMG_8006](https://user-images.githubusercontent.com/55676/56693966-81314f80-669a-11e9-95d3-e8112e6cdd35.JPG)

[2019-04-24 21:27] moriarty commented on #84
@RDaneelOlivav & @ben-fido Thanks for bringing this up.

https://www.amazon.com/gp/product/B074Q2Y7WR

https://www.amazon.com/dp/B00K2NZSFM

Actually the 3rd Bin fell off of my radar and we forgot to buy it.

The original plan, was to have a "bin" which was actually a cardboard box that contained some foam which would evenly space the parts... This is how some parts are actually shipped in industr

[2019-04-24 21:32] #47 closed

[2019-04-25 01:33] ben-fido commented on #84
Can you please decide which bin?

[2019-04-25 01:40] #83 closed

[2019-04-25 03:06] moriarty commented on #84
I’ll let you know by the end of the week. But for now @RDaneelOlivav perhaps just put the gearbox top and gearbox bottom on the shelf without a bin.

[2019-04-25 06:20] ben-fido opened #86 "[FetchIt!] [BUG] RobotStatePublisher for Schunk machine breaks robot's /odom transform"
**Description:**
You have defined the Schunk machine as a second robot with its own `robot_state_publisher`.  However, this is not configured correctly and it breaks the TF tree for the Fetch robot's `/base_link` to `/odom` transform.

I'm not sure why this was working previously, but it should not have been.

**Steps to reproduce:**
Launch the simulation environment:
[code]
Check this TF transfor

[2019-04-25 21:37] moriarty commented on #86
@RDaneelOlivav it's probably best to write a simple node that publishes the TF for the Schunk machine location

[2019-04-25 21:41] moriarty commented on #82
@RDaneelOlivav just as a clarification re:

The action **_only_** opens and closes the Schunk **chuck** not the whole door. The Door, is on sliders, which the teams can push on the handle to slide open and closed.

[2019-04-26 18:50] ben-fido commented on #86
Fixed in PR https://github.com/fetchrobotics/fetch_gazebo/pull/88

I followed this guide:
http://www.theconstructsim.com/ros-qa-130-how-to-launch-multiple-robots-in-gazebo-simulator/
and put schunk robot in its own namespace.
But the fetch robot still has no namespace, to keep things simple and not break anyones codes.

**ROS Nodes:**
[code]

**ROS Params:**
[code]

**ROS Topics:**
[code]

You can

[2019-04-26 19:43] moriarty commented on #86
It doesn't rotate, it only opens and closes the jaws.

Submit the PR and GitHub should automatically assign @RDaneelOlivav to do the code review https://github.com/fetchrobotics/fetch_gazebo/blob/gazebo9/.github/CODEOWNERS after that we'll merge it

[2019-04-27 23:03] ben-fido commented on #74
This ticket can be closed.

[2019-04-27 23:53] ben-fido commented on #73
**Background:**
~~It looks like some of the tables are wider than others. The dimensions in the Gazebo simulation world need to be checked~~.

**Tasks:**
 - ~~Measure the width, depth and height of each table surface and tell us the dimensions?~~
 - ~~Measure the height of the sponsor boards? (it goes higher than the tables)~~
 - Upload image of the artwork for Schunk table with dark-blue backgrou

[2019-04-28 00:21] ben-fido commented on #81
The two halves of the gearbox will be placed directly on the table surface. No bin.

The screws will be in this green tub:
https://www.amazon.com/dp/B00K2NZSFM/

 <img src="https://i.imgur.com/kzhSXiG.jpg" height="250">  <img src="https://i.imgur.com/CQadSLH.png" height="250">

.

The dimensions are (in meters):

|                        |  Width on bottom surface | Width at top | Depth on bottom

[2019-04-28 00:34] ben-fido commented on #82
The above colored images of the Schunk Machine are from a CAD program.

We downloaded the .zip file and opened the 3D model.
It looks like this:
<img src="https://i.imgur.com/HtzdpfH.png" width="200">
It is one single solid part.
This would be a regression in functionality, because @RDaneelOlivav already did a great job to build the current model:  It has multiple parts, color texture, the door sl

[2019-04-28 01:49] ben-fido opened #87 "[FetchIt!] Modify chuck on Schunk machine"
**Background:**
The real Schunk machine has an actuated chuck with jaws that can be opened and closed.
There is a ROS Node running on the network with a SimpleActionServer. You can publish a Goal msg to open and close the chuck.

This functionality needs to be added to the simulation.

<img src="https://i.imgur.com/aC74By2.jpg" width="200">

This video shows you the pneumatic chuck with the moving

[2019-04-29 08:16] ben-fido commented on #73
Thanks @velveteenrobot for check the measurements

[2019-04-29 14:48] moriarty commented on #73
We’re expecting that teams will be able to tolerate some small variance in the real and simulated environment.

The real tables in our environment are missing a 3/4 inch top shelf.

[2019-04-29 15:21] RDaneelOlivav commented on #87
We actually have in the issues queue to update the SHUNK model to the latest configuration. This of course should be a nice adition to the simulation for sure, at least as far as Gazebo simulation can take it.

[2019-04-29 15:24] RDaneelOlivav commented on #81
Thats one of my tasks this week if all goes well ;)

[2019-04-29 15:26] RDaneelOlivav commented on #86
Let me check ASAP

[2019-04-29 16:45] moriarty commented on #81
Info from the bottom of the bin:

www.carlislefsp.com

https://www.carlislefsp.com/warewashing/tote-box/N4401009

[2019-04-29 23:57] ben-fido commented on #87
**Which model number is the shunk power chuck?**
If you don't know, can you send us the CAD files you receive from shunk?
@moriarty @ajzeller

[2019-04-30 04:18] moriarty commented on #87
Sorry, we’re able to release the models but not the cad files directly

[2019-04-30 17:59] RDaneelOlivav commented on #86
Ok Just to define the functionality of the SHUNK machine should be to open and close the gripper of the SHUNK machine when used the action. And then what? Does it have to be able to retain the part? Or its just a fake dummy exercise? Could someone define exactly what the SHUNK machine will do in the competition exactly? @moriarty

[2019-04-30 18:10] moriarty commented on #86
The Schunk Machine should open and close the gripper of the Schunk machine.
The large gear, is transferred from the robot, to the Schunk machine and then back to the robot.

_The Schunk Gripper, is a Schunk pneumatic chuck, so sometimes we call it a chuck and sometimes we call it a gripper._

Here is one possible time line:

1. Team calls open on Schunk Machine Action to ensure the gripper is open

[2019-05-02 22:04] jingxixu commented on #74
Do you mean they can be either blue or grey in the arena? But it seems that you do not provide a blue version of these objects in real world. Many thanks!

[2019-05-03 18:31] RDaneelOlivav commented on #86
Ok I've pushed an update of the chunk machine ( https://github.com/fetchrobotics/fetch_gazebo/pull/89), with new updated action server decoupled from simulation or real thing. Also updated the model, colours, and added chuck open and close system, with integration with the action server. Now if you spawn the Shunk machine it should just be there operational.
To use it just publish the goal in the

[2019-05-03 18:31] RDaneelOlivav commented on #82
Ok I've pushed an update of the chunk machine ( #89), with new updated action server decoupled from simulation or real thing. Also updated the model, colours, and added chuck open and close system, with integration with the action server. Now if you spawn the Shunk machine it should just be there operational.
To use it just publish the goal in the goal topic.

[2019-05-06 07:21] ben-fido commented on #86
This thread can be closed.
The thread about the machine is issue https://github.com/fetchrobotics/fetch_gazebo/issues/87

[2019-05-06 07:32] ben-fido commented on #87
@RDaneelOlivav the new changes to machine in PR #89 are very good
We tested on kinetic and melodic.

Open / close
<img src="http://oi66.tinypic.com/2el9stk.jpg" width="200">

New joint axes
<img src="http://oi67.tinypic.com/2le33eq.jpg" width="200">

If the axes of machine door is moved closer to the object itself, it might slide more easy
<img src="http://oi68.tinypic.com/104184o.jpg" width="200"

[2019-05-07 17:26] GregoryLeMasurier opened #90 "[Fetchit!] [BUG] Rotated gears "stand up" over time"
@RDaneelOlivav When I rotate or spawn in a gear on its side it will start to stand up as seen in the pictures below.
Being able to rotate a gear in simulation would be really useful for testing because in the competition some of the gears will be in this orientation.

**To Reproduce**
Change the roll, pitch, or yaw of any gear's pose to be 1.2.
Change the z of the gear to be above the schunk table

[2019-05-08 17:09] moriarty commented on #87
@ben-fido I've just merged #89 can this now be closed?

[2019-05-08 17:09] #86 closed

[2019-05-09 16:19] RDaneelOlivav commented on #90
@moriarty @GregoryLeMasurier I'll solve it tomorrow, is that ok?

[2019-05-09 17:02] moriarty commented on #90
Yes Tomorrow should b fine. @GregoryLeMasurier I merged in some changes yesterday which I think should have updated the appearance of the Schunk machine.

[2019-05-10 02:21] jingxixu opened #91 "fetch robot is dark in gazebo simulation playground"
**Describe the bug**
Fetch robot is dark in the gazebo simulated playground.

**To Reproduce**
ROS Melodic, Ubuntu 18.04, Gazebo9
[code]

**Expected behavior**
robot should not be dark

**Screenshots**
![Screenshot from 2019-05-09 19-40-55](https://user-images.githubusercontent.com/15113241/57498070-5ce38e80-72a8-11e9-8b42-a7a21940647f.png)

**catkin workspace (please complete the following inform

[2019-05-10 02:58] moriarty commented on #91
This doesn’t effect the simulation.

This is just Gazebo visualization.

The work around- use a GPU with the drivers installed properly.

Or ignore it.

I have a Dell XPS 13 without a GPU, and gazebo visually appears dark.
But on my desktop with a GPU, it’s fine.

The data sent to the simulated sensors shouldn’t be effected by this.

[2019-05-10 10:49] RDaneelOlivav commented on #90
Ok , I've made a pull request with the changes in the inertias needed to solve this issue: https://github.com/fetchrobotics/fetch_gazebo/pull/92

As soon as this is merged I'll post a ROSJect with the latest changes ;) for you people to use.

[2019-05-10 14:49] #90 closed

[2019-05-10 15:00] moriarty commented on #91
@RDaneelOlivav just wanted a second opinion on this before I close it as “won’t fix” because as far as I know this is just the rendering of the robot, and doesn’t effect the simulation.

[2019-05-10 17:51] RDaneelOlivav commented on #91
Absolutely agree with you @moriarty . Sure the graphics can always be tweaked in the simulation to get better but the important part is what the cameras see, the GUI side is just for us humans to understand what's going on. Your robot only cares about the sensor side.

[2019-05-10 19:07] #91 closed

[2019-05-10 23:35] jingxixu commented on #91
Thank you!

[2019-05-12 23:48] moriarty commented on #73
Closing this issue as the launch files with “Montreal” in the title are close enough.

[2019-05-12 23:48] #73 closed

[2019-05-12 23:50] moriarty commented on #73
We don’t have the artwork for the Schunk Machine.

The logos on the tables will be slightly different in the real vs simulated environment.

[2019-05-19 16:00] moriarty commented on #73
FYI- the environment in Montreal will change. But you will have time to update your maps.

[2019-05-20 06:45] moriarty commented on #73
@umhan35 - sorry I’m replying to your email here...

Please note the height in the simulation environment was updated when we knew the height of the walls in Montreal, and we never specified the hight of our walls in our remote access environment- they just happened to be made out of material we had on hand, but the simulation environment has the walls at the height which we specified as soon as w

[2019-05-20 12:22] umhan35 commented on #73
The walls shouldn’t be a problem for us.

[2019-06-05 18:48] #87 closed

[2019-06-05 18:49] moriarty commented on #84
We opted not to have the 3rd Bin because there wasn't enough time to get one and notify the teams.

So items 1 & 2 were used and 3 was dropped.

[2019-06-05 18:49] #84 closed

[2019-06-05 18:50] moriarty commented on #82
Fixed with #89

[2019-06-05 18:50] #82 closed

[2019-06-05 18:50] moriarty commented on #61
This is fixed with #89 I believe.

[2019-06-05 18:50] #61 closed

[2019-06-05 18:56] moriarty commented on #74
@jingxixu we originally printed some parts in Blue, and then printed the rest in Grey. All of the blue parts were the original prototypes. We made some modifications to them before deciding on the official parts, which is why the teams didn't have them to test with in the remote sessions.

It takes a lot of time to print the parts, so we asked everyone in the remote sessions if they were okay with

[2019-06-05 18:56] #74 closed

[2019-06-05 18:57] moriarty commented on #81
Can we close this one too?

[2019-06-05 21:57] umhan35 commented on #81
Can we add the green bin to Gazebo?

[2019-06-12 16:37] GregoryLeMasurier opened #94 "[BUG] Arm gets into unusable position when using moveit and moving the torso"
**Describe the bug**
The arm gets into an unusable state after controlling it with moveit and then moving the torso.
The arm seems to fall down and is able to go through the other parts of the robot. We can not control the arm after the arm gets into this state.

**To Reproduce**
Clone this repo: (https://github.com/GregoryLeMasurier/FetchArmTest)

Launch gazebo with fetch:
roslaunch fetchit_chall

[2019-06-12 18:03] umhan35 commented on #94
@RDaneelOlivav this is the issue that I mentioned when you interview us during the competition.

[2019-06-12 18:11] moriarty commented on #94
Thumbs up :+1: for the great bug report!

I'm currently working remotely from my personal laptop, so this may need to wait until next week when I'm back in the office.

[2019-06-12 18:16] RDaneelOlivav commented on #94
@umhan35 I think you are confusing me with Ricardo , my boss, he was the one going to the competition ;).
Have you checked the status of the controllers?
Does it happen in an empty world or if you only move the arms, without moving the torso?

[2019-06-12 19:47] GregoryLeMasurier commented on #94
@RDaneelOlivav This happens in an empty world, I used: roslaunch fetch_gazebo simulation.launch. It does not happen when we only move the arm. (I have updated the repo in the first post to include another node for moving the arm). I am not sure how to check the status of the controllers. I saw some rostopics for controllers but I didn't find any data that seemed useful for this issue.

[2019-06-12 21:54] moriarty commented on #94
I think @RDaneelOlivav is right... there is this file:

@GregoryLeMasurier it looks like the launch file you’re using calls:

https://github.com/fetchrobotics/fetch_gazebo/blob/gazebo9/fetch_gazebo/launch/include/fetch.launch.xml

But you want to call the one with the **_pp**

https://github.com/fetchrobotics/fetch_gazebo/blob/gazebo9/fetch_gazebo/launch/include/fetch_pp.launch.xml

The **_pp** I

[2019-06-12 21:58] moriarty commented on #94
Maybe ignore my comment- I’m on my phone and can’t really easily view the diff between the scripts.

[2019-06-13 13:58] GregoryLeMasurier commented on #94
@moriarty  I was originally using main_arena_montreal2019_highlights.launch which does call the pick and place version. I also have tried simulation.launch which does use fetch.launch.xml. Both versions have the same issue.

[2019-06-21 01:55] umhan35 commented on #36
@moriarty  We also have this issue on Ubuntu 18.04/Gazebo 9. I pulled latest master, which is the same as 0.9.0.

Here is the video: https://youtu.be/lLUQtOjqFnM. After I recorded this issue, it takes about 15 second to move to the last goal I set.

To reproduce:
[code]

We also tested in 14.04 and Gazebo 2, and it works very well.

[2019-06-21 03:44] moriarty commented on #36
:disappointed: okay we'll need to look into this more

[2019-06-24 21:04] GregoryLeMasurier commented on #94
@moriarty Have you had a chance to look into this yet?

[2019-06-27 16:23] umhan35 commented on #36
@moriarty Sorry for bugging you...

We raised this issue because we use the fetchit codebase for a collaborative project with another university where they don't have a Fetch robot yet. If we can use navigation is sim, they can run our nav code instead of manually moving robot in Gazabo. We also do have code to publish to gazebo to move the robot,  this does not count into the probabilistic nature

[2019-07-04 01:24] slugflow commented on #30
@umhan35 Hi, it might work better if you reduce the inflation_radius specified in costmap_common.yaml under fetch_navigation/config. (the default value is 0.7m)
In your case, the robot has to be close to the table to pick up the cube, while large inflation_radius keeps the robot away from the obstacles, and the robot starts rotation recovery if it is within the inflation layer of the table.

[2019-07-04 02:39] umhan35 commented on #30
@xujingren We actually have another map and move_base config that works in our test course but not in Gazebo 9. The root cause is #102. We tested on Ubuntu 14.04 with Gazebo 2 and it works.

[2019-07-25 18:38] moriarty commented on #94
No sorry - after ICRA I had some catching up to do, was at RoboCup, and missed some days for personal reasons, I'll be away next week too.

I'll assign @erelson

[2019-07-26 19:40] umhan35 commented on #36
@moriarty @velveteenrobot  Could you assign someone to investigate this?

[2019-07-27 18:03] erelson commented on #94
Sorry, I won't be able to dig into this. My experience level with Gazebo is zero, so this isn't something I can productively troubleshoot.

[2019-07-29 13:20] moriarty commented on #94
Okay- I’ll look into it after I get back from Vacation.

[2019-09-11 20:53] moriarty commented on #46
#75 and this are essentially duplicates.

The *Dockerfiles* in the comments above no longer work, ros is now in the official docker images: `osrf/ros` -> `ros`

[code]

These are still on the todo list.

[2019-09-11 20:53] #46 closed

[2019-10-16 18:30] ruffsl opened #96 "[feature] Migrating to ROS2"
Our research lab is in the progress of migrating our software stack to ROS2, and we like to start by testing out these infrastructure changes in simulation when doing so. I'd like to ask if there are any ongoing plans or current progress in updating the fetch ecosystem to use ROS2, be it in general for the hardware platform, or just for gazebo simulation, as we'd like to avoid duplicate efforts. W

[2019-11-07 00:22] salonijain12 opened #98 "Adding namespace to Fetch Robot in Gazebo"
Hi team,

I am trying to create a world in Gazebo comprising of multiple robots and for which I need to add namespace to Fetch robot.
Please help me with the steps/ procedure for same.

Thanks and Regards,
Saloni

[2019-11-13 11:37] salonijain12 commented on #98
Hi Team,

I have done following changes to add **Namespace** to fetch robot using following steps:

1) Created an initial launch file: world.launch
[world.launch.pdf](https://github.com/fetchrobotics/fetch_gazebo/files/3840943/world.launch.pdf)

2) Added group tag in test.launch file
[test.launch.pdf](https://github.com/fetchrobotics/fetch_gazebo/files/3840944/test.launch.pdf)

3) Done changes in

[2020-01-15 19:03] connormbrooks commented on #19
For those interested, I was able to enable the controller in Gazebo simply by adding the lines from the commit referenced above (fetchrobotics/fetch_robots@06bb495) to fetch_gazebo/config/default_controllers.yaml !

[2020-02-26 14:35] ana-GT opened #100 "Controllers in Fetch Gazebo Melodic don't start correctly several times before the robot gets in a usable state"
We have been using the Fetch Gazebo model in a Ubuntu 18.04 machine with ROS Melodic on it (Gazebo 9). We notice that when we spawn the robot in Gazebo, it takes several tries before the robot starts properly (controller kicked in, arm in a collision-free pose). More often than not, 90% of the times, the controllers don't start at all and the arm falls all the way through the robot base, getting i

[2020-02-28 09:18] gdhucoder commented on #98
Hey  bro! I have the similar issue. I found this in the closed issues. https://github.com/fetchrobotics/fetch_gazebo/issues/18  . If you have any possible solution, please let me konw.

[2020-04-14 20:52] AustinJia commented on #36
Solved.
Please take a look of the following link.
https://github.com/fetchrobotics/fetch_gazebo/pull/101

[2020-04-17 02:52] nickswalker commented on #36
I was able to reproduce this issue using the code in #101 and the same steps as before. I don't think the problem is the inflation radius. Something about the simulation is going wrong causing drift during rotation. Given this, no amount of tuning navigation parameters is going make it localize well enough to go through doors.

[2020-04-25 22:14] moriarty commented on #36
@nickswalker check #101 not for the code but for the comment from @mikeferguson

[2020-04-25 23:47] moriarty commented on #36
fetchrobotics/fetch_ros@09db2ce01300b253b7fc7fd01ce258e20f2b9b41 file `fetch_depth_layer/src/depth_layer.cpp`

are likely causing the difference :( unfortunately the `CMAKE_BUILD_TYPE` -> `Release` did not seem to fix it.

[2020-04-25 23:49] moriarty commented on #36
[code]

[2020-05-15 20:55] nickswalker commented on #36
I confirmed that doing a release build had no impact. I looked at reverting FetchDepthLayer to tf but stopped when I realized it would've required also changing the upstream DepthLayer code back as well.

I tried bypassing localization using [`fake_localization`](http://wiki.ros.org/fake_localization) ([added a ground truth odometry plugin to our robot model](https://github.com/homeskies/uw_gazebo

[2020-07-02 14:34] wangjiwang opened #103 "how to make fetch execute a pre-defined trajectory in gazebo."
I don't have any hardware now, and I download this package. how to make fetch  execute a pre-defined trajectory in gazebo? can anybody help me and tell me more details?

[2020-07-02 15:56] erelson commented on #103
Hi @wangjiwang, the intro documentation should get you started: http://docs.fetchrobotics.com/gazebo.html

The code behind these examples is in the demos folder of this repo: https://github.com/fetchrobotics/fetch_gazebo/tree/gazebo9/fetch_gazebo_demo/scripts

[2020-07-02 15:56] #103 closed

[2020-07-03 07:38] wangjiwang opened #104 "how to use arm_with_torso_controller/follow_joint_trajectory controller?"
Thanks for your reply. And I try to use arm_with_torso_controller/follow_joint_trajectory controller to help me  execute a pre-defined trajectory. It did not work. I can not find the reason, can you help me?

`#!/usr/bin/env python
import sys
import rospy
import actionlib
from control_msgs.msg import (FollowJointTrajectoryAction,
                              FollowJointTrajectoryGoal)
from trajec

[2020-07-05 07:24] wangjiwang commented on #103
Thanks for your reply. And I try to use
arm_with_torso_controller/follow_joint_trajectory controller to execute a
pre-defined trajectory. It did not work. The API did not give detail
information. Can you give a example? The attachment is my code.

Eric Relson <notifications@github.com> 于2020年7月2日周四 下午11:56写道：

[2020-07-14 06:26] wangjiwang commented on #103
Thx, Can you tell me the detail information about how to use arm_with_torso_controller/follow_joint_trajectory controller ?

[2020-07-26 04:58] Juzhan commented on #100
I meat the same issue also in a Ubuntu 18.04 machine with ROS Melodic on Gazebo 9, did you solve the problem?

[2020-08-08 17:15] SarveshRobotics opened #106 "[BUG] Fetch Robot doesn't tries to pick up the cube"
I am launching the default simulation of picking up a cube from the table, built in fetch_gazebo package. The robot simply goes to the prepare position and doesn't move at all. (Initially I was working on a warehouse project with Fetch robot and was trying to perform SLAM with Laser and Odom but it was not working out, hence I started testing the default launch simulations.)

I installed fetch pac

[2020-08-09 22:43] #81 closed

[2020-08-17 15:56] cjds commented on #106
Can confirm that this works on my machine. Something must be different about the setup.

Is it possible to post the goal and result here please?

[2020-09-11 09:01] xiangxiang123456 opened #107 "About the demo.py in fetch_gazebo_demo"
When the simulation environment got ready, we ran the demo.py. And after the robot arriving the first table, errors occurred. It look likes this

`Traceback (most recent call last):
  File "/home/lwx/fetch_ws/src/fetch_tc/fetch_sim/fetch_gazebo_demo/scripts/demo.py", line 276, in <module>
    grasping_client.updateScene()
  File "/home/lwx/fetch_ws/src/fetch_tc/fetch_sim/fetch_gazebo_demo/scripts/

[2020-09-11 16:12] erelson commented on #107
Hi @xiangxiang123456 can you clarify what version of gazebo and what version of ROS you are using?

I'm not familiar with this code, but looks like something unexpected in some manner is being returned [here](https://github.com/fetchrobotics/fetch_gazebo/blob/gazebo9/fetch_gazebo_demo/scripts/demo.py#L135), and the traceback results a few lines below when it's used.

[2020-09-12 02:05] weixiang-smart commented on #107
Thank you for your reply. @erelson  We are using ros kinetic and gazebo 7. We also found it's matter with this line of code`find_result = self.find_client.get_result()`.  After printing out the "find_result", It is NONE.

[2020-09-12 02:05] xiangxiang123456 commented on #107
Thank you for your reply. @erelson  We are using ros kinetic and gazebo 7. We also found it's matter with this line of code`find_result = self.find_client.get_result()`.  After printing out the "find_result", It is NONE.

[2020-09-12 02:05] xiangxiang123456 commented on #107
Thank you for your reply. @erelson  We are using ros kinetic and gazebo 7. We also found it's matter with this line of code`find_result = self.find_client.get_result()`.  After printing out the "find_result", It is NONE.

[2020-09-12 02:05] xiangxiang123456 commented on #107
Thank you for your reply. @erelson  We are using ros kinetic and gazebo 7. We also found it's matter with this line of code`find_result = self.find_client.get_result()`.  After printing out the "find_result", It is NONE.

[2020-09-12 02:05] xiangxiang123456 commented on #107
Thank you for your reply. @erelson  We are using ros kinetic and gazebo 7. We also found it's matter with this line of code`find_result = self.find_client.get_result()`.  After printing out the "find_result", It is NONE.

[2020-09-12 02:05] xiangxiang123456 commented on #107
Thank you for your reply. @erelson  We are using ros kinetic and gazebo 7. We also found it's matter with this line of code`find_result = self.find_client.get_result()`.  After printing out the "find_result", It is NONE.

[2020-12-01 13:30] sktometometo opened #110 "[BUG] demo.launch will fail with Exception"
**Describe the bug**
I launched demo.py but Fetch in gazebo will get stuck in the front of the table and finally fail with TypeError.

Fetch rotating in the front of the table when getting stuck
![Screenshot from 2020-12-01 22-19-56](https://user-images.githubusercontent.com/9410362/100745951-5df88580-3423-11eb-99b1-5f9f1e1abb5d.png)

When demo.py failling with TypeError in the end, Fetch raise it

[2020-12-01 15:22] mikeferguson commented on #110
Looks like these scripts never got updated/tested in Melodic - moveit_python in Melodic has never supported the "wait" argument (we refactored to use the new service-based interface that MoveIt introduced in Melodic). If you get a chance, please try out: https://github.com/fetchrobotics/fetch_gazebo/pull/111

[2020-12-01 15:26] mikeferguson commented on #106
So, "simple_grasp.launch" just sets up the environment. You would also need to "roslaunch fetch_gazebo_demo pick_place_demo.launch" after the environment is fully setup.

[2020-12-01 16:25] #110 closed

[2021-02-02 22:44] nickswalker commented on #36
No resolution and no updates from the previous comment

[2021-02-06 17:17] cmcollander commented on #36
This is still an issue. Ubuntu 18.04.5, all of my fetch and ros packages are up to date. The odom transform actually reaches points where it is so far off that it's off the map. So something is wrong with the odometry.

[2021-02-09 20:34] ruffsl commented on #96
I tried to dive into migrating the gazebo simulation and controllers about the time I made the first post so that we'd have something to debug with that wouldn't hog so much physical lab hardware, but got blocked by the state of ros2_control and gazebo_ros_pkgs. My hunch is that those two packages have greatly matured since then, but I now no longer have the lab time to devote to this, so we've be

[2021-02-11 03:13] moriarty commented on #36
https://github.com/fetchrobotics/fetch_gazebo/issues/46

I was using that Dockerfile to quickly switch version... but it’s out of date, the OSRF base images have changed locations, and the Nvidia docker stuff is different/no longer required... but as I recall it was possible to see this stop working when switching back and forth

[2021-02-11 22:53] umhan35 commented on #36
@mkhansenbot if you don’t mind, navigation works in Ubuntu 14.04, which is end of life and may have security issues.

Fetch Robotics should really try to solve this issue, but the research platform is of low priority from what I can tell.

[2021-02-12 02:40] DLu commented on #36
FWIW, I tried it out and as far as I can tell, its something wonky with the odometry/localization, not the costmaps/recovery behaviors, with a very small chance of it being the local planner. Tested with Melodic/18.04/Gazebo 9. I also tried `fake_localization` but oddly had the same problem.

[2021-02-12 05:32] moriarty commented on #36
16.04 & Kinetic was skipped on Fetch Hardware, I only released Kinetic quietly after releasing 18.04 & Melodic... because of many requests from users who wanted it.

[2021-02-12 18:15] pabloinigoblasco opened #112 "[feature] Noetic support?"
Hello.
Is this repo planned to be supported in noetic?

We are using it in our examples in the [smacc](https://github.com/reelrbtx/SMACC/) project and we wanted to move to noetic.

https://www.youtube.com/watch?v=FYeNzukdIz4

Kind regards.

[2021-02-17 04:11] DLu commented on #36
I'd be curious to see what happens if you play the same sequence of velocity commands in each and see what the resulting odometry looks like.

[2021-06-18 19:47] SteveMacenski commented on #96
Also interested in using this for ROS2 in a book!

[2021-06-18 20:57] ruffsl commented on #96
@SteveMacenski , @mkhansenbot , I recently revisited this, as I was helping @aefrank with getting at least a simulation of the Fetch research platform working in Gazebo with ROS2 (w/ or w/o bridging):

https://github.com/fetchrobotics/power_msgs/pull/13
https://github.com/fetchrobotics/fetch_msgs/pull/19
https://github.com/CogRob/fetch_ros/pull/3
https://github.com/CogRob/fetch_gazebo/pull/2

But

[2021-06-19 00:28] mikeferguson commented on #96
In addition to being the primary author of robot_controllers, I've actually ported robot_controllers to ROS2 and am a maintainer of the ROS2 port - it's fully working on 3 of my personal robots and I see no reason it wouldn't work on the Fetch Simulation: https://github.com/fetchrobotics/robot_controllers/tree/ros2 - it's also released into foxy (but not yet in rolling or galactic)

While I don't

[2021-06-19 00:30] mikeferguson commented on #96
I should also point out that I forked the depth_layer plugin from fetch_ros and ported it to ros2/navigation2 for my UBR-1 robot: https://github.com/mikeferguson/ubr_reloaded/blob/ros2/ubr1_navigation/src/depth_layer.cpp

[2021-06-19 02:39] aefrank commented on #96
@mikeferguson This is great to hear, very grateful that someone has already tackled this! I will likely be working on using this with Fetch in simulation in the coming weeks, so I will let you know if I have any issues or questions.

[2021-07-01 19:36] aefrank commented on #96
@mkhansenbot Sadly I haven't been able to get much working. After trying to work out all the dependencies that would potentially need to be updated to work with ROS 2, I think this is a bit over my head. I haven't done enough work with ROS 2 and unfortunately I don't have the time to do the amount of digging required. I will certainly post back here if I go back to it or have any flash of insight,

[2021-09-10 02:09] 247programmers opened #114 "[feature] how to multiple fetch control?"
I wanna control  2 fetch or multiple fetchs.

but there are some reference for 1 fetch.

how can I put many fetchs and how can I control them??

I heard that I have to make "group ns="robot1",,, group ns="robot2" "    like that...

but its now working.

there have some error.

"cannot parseURDF"
or
"cannot load controllers"
or
" No p gain specified for pid. "

there are lots of error and I tried m

[2022-04-15 21:42] marcelino-pensa opened #115 "[BUG] Terrible control on freight robot without casters"
**Describe the bug**
I've been struggling with commanding the freight robot in gazebo. I had noticed that the full `fetch` robot worked fine, so I started looking into the differences between them until I could determine the issue.
As it turns out, the `freight` robot just needed some casters to be controlled reasonably.

**To Reproduce**
To reproduce the error, build `fetch_gazebo` on branch `gaz